<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
			<requestLimits maxAllowedContentLength="115343360" />
			</requestFiltering>
		</security>
	</system.webServer>
	<system.web>
		<compilation debug="false" />
	</system.web>
</configuration>